<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='../css/style.css' />
    <link rel="stylesheet" href="../css/general.css"/>
     <script type="module" defer>
    import {closeIt } from "../js/script.js";
    window.closeIt=closeIt;
  </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
    {{>header}}
    <div id='base'>
      <div id='container'>
        <h1>BookStore Dashboard</h1>
        <button id='btn-add' >Add New Book</button>
        <div class="container-table">
        <table id='tb-books'>
          <tr class='row'>
            <th>Title</th>
            <th>Image</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Price</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
          {{#each data}}
            <tr class='row' id="row-book" data-bookId="{{id}}">
              <td>{{title}}</td>
              <td><img crossorigin="anonymous" src='{{image}}' width='150px' alt='book-img' /> </td>
              <td>{{genre}}</td>
              <td id='td-desc'>{{description}}</td>
              <td>{{price}}</td>
              <td>{{author}}</td>
              <td>{{publication_date}}</td>
              <td><button id='btn-update' ><img
                    src='../imgs/edit.png'
                    width='20px'
                    alt=''
                  /></button></td>
              <td><button id='btn-delete'>
                  <img src='../imgs/delete.png' width='20px' alt='' />
                </button></td>
            </tr>
          {{/each}}
        </table>
        </div>
        <div class='modalAddBook'>
          <div class='formPopup' id='popupForm' style='display:none'>
            <form
              enctype='multipart/form-data'
              method='post'
              class='formContainer'
            >
              <h3 id='h3-newbook'>Add New Book</h3>
              <div class="div-addbooks">
                <label for='title'>
                  Book Title
                </label>
                <input
                  type='text'
                  id='title'
                  class="field"
                  placeholder='Name of Book'
                  name='title'
                  maxlength="60"
                  required
                />
              </div>
              <div class="div-addbooks">
                <label for='image'>
                  Book Image
                </label>
                <div id="div-image">

                <input
                  type='file'
                  id='bookImg'
                  class="field"
                  name='image'
                  accept='image/png, image/jpeg'
                  class='hidden'
                  
                />        
                     <img id='img-display' width='80px' src='' alt='' />
                </div>
              </div>   
             <div class="div-addbooks">
                <label>Image Storage</label>     
                <div id="div-checkcloud">
             <input type="checkbox" id="cloudinary" name="cloudinary">
                <label for="cloudinary">Cloud</label>
                </div>         
             </div>
              <div class="div-addbooks">
                <label for='title'>
                  Genre
                </label>
                <input
                  type='text'
                  id='genre'
                  class="field"
                  placeholder='Eg; action,sci-fi,etc.'
                  name='genre'
                  required
                />
              </div>
              <div class="div-addbooks">
                  <label for='description'>
                    Description
                  </label>
                  <textarea
                    name='description'
                    id='description'

                    placeholder='Short Overview Of Book'
                    autocomplete="true"
                    rows='6'
                    maxlength="1000"
                  ></textarea>
                </div>
                <div class="div-addbooks">
                <label id='lbl-price' for='text'>
                  Price
                </label>
                <input
                  type='text'
                  id='price'
                  class="field"
                  placeholder='in NRs.'
                  name='price'
                  required
                />
              </div>
              <div class="div-addbooks">
                <label for='text'>
                  Author
                </label>
                <input
                  type='text'
                  id='price'
                  class="field"
                  placeholder='Author&#39s Name'
                  name='author'
                  required
                />
              </div>
              <div class="div-addbooks">
                <label for='text'>
                  Publication Date
                </label>
                <input
                  type='text'
                  id='publication_date'
                  class="field"
                  placeholder='YYYY/MM/DD'
                  name='publication_date'
                />
              </div>
              <div class="div-buttons">

              <button type='submit' class='btn' id='btn-save'>Add</button>
              <button
                type='button'
                id='btn-cancel'
                onclick='closeIt()'
              >Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
    </div>
  </body>
</html>