<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='../css/style.css' />
    <link rel="stylesheet" href="../css/general.css"/>
     <script type="module" src="../js/users.js" defer>
  </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
    {{>header}}
      <div class="admin-options">
          <div class="options">
          <p id="dashboard">Dashboard</p>
            <button id="btn-books">Books</button>
            <button id="btn-users">Users</button>
          </div>
        </div>
    <div id='base'>
      <div id='container'>
        <div class="container-table">
        <table id='tb-users'>
          <thead class="thead-users">
          <tr class='row'>
            <th>Username</th>
            <th>Email</th>
            <th>Date Registered</th>
            <th>Delete</th>
          </tr>
          </thead>
          {{#each data}}
            <tr class='row' id="row-user" data-userId="{{id}}">
              <td>{{username}}</td>
              <td>{{email}}</td>
              <td>{{created_at}}</td>
              <td><button id='btn-delete'>
                  <img src='../imgs/delete.png' width='20px' alt='' />
                </button></td>
            </tr>
          {{/each}}
        </table>
        </div>
      </div>
    </div>
    {{>footer}}
    </div>
  </body>
</html>